body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: center;
}

h2 {
	font-size: 18px;
	margin-bottom: 3px;
}

h3 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 6px;
}

a {
	color: #0983d1;
	text-decoration: none;
}

a:hover {
	color: #0983d1;
	text-decoration: underline;
}

.appLink {
	position: relative;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-top: 15px;
	border: 1px solid #555555;
	padding: 7px 7px 4px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	background-color: #f0f0f0;
	color: #ffffff;
}

.appName {
	display: inline;
	position: absolute;
	top: 32%;
	left: 72px; /* 57 + 15 = 72 */
	font-size: 20px;
}

#copyright {
	margin: 0px auto;
	margin-top: 30px;
	margin-bottom: 5px;
	font-size: 11px;
	text-align: center;
}
